

i.icon {
    font-size: 1.5em;
    margin-left: -10px !important;
}

.container.main {
    margin-top: 7.0em;
}

#inlineElement{
    display: inline;
}

#test{
	margin-top:25px;
	transition: overlay;
}

.logo{
	font-size: 2em;
	border-right: none;
	color: white;
	font-family: 'Modern Antiqua';
}

.hidething {
	opacity: 0;
}

#hifromme{
	background-color: black !important;
}

.disappear {
}

.logo-side {
	font-size: 1.5em;
	  display: flex !important;
  align-items: center;
  justify-content: center;
}
span {
	padding: 10px;
}

.ui.list {
	  display: flex !important;
	  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.sideBarItems {
	width: 100%;
	padding: 15px !important;
	text-align: center;
}