

i.icon {
    font-size: 1.5em;
}

.container.main {
    margin-top: 7.0em;
}

#inlineElement{
    display: inline;
}

#test{
	margin-top:25px;
	transition: overlay;
}

#logo{
	font-size: 2em;
	border-right: none;
	color: white;
font-family: 'Modern Antiqua';
}

.hidething {
	opacity: 0;
}

#hifromme{
	background-color: black !important;
}

.disappear {
}